body {
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
 background-color: #f4f4f4;
 color: #333;
}

header {
 background-color: #333;
 color: white;
 padding: 1em 0;
 text-align: center;
 position: relative;
}

header h1 {
 margin: 0;
}

nav {
 position: absolute;
 top: 0.5em;
 right: 1em;
}

.menu-icon {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 width: 30px;
 height: 21px;
 cursor: pointer;
}

.bar {
 width: 100%;
 height: 3px;
 background-color: white;
}

main {
 padding: 20px;
}

.thread-container {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.thread {
 background-color: white;
 border: 1px solid #ddd;
 padding: 15px;
 margin-bottom: 20px;
 width: 80%;
 box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.thread h2 {
 color: #555;
}

/* Estilos del modal */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
 background-color: #fefefe;
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #888;
 width: 80%; /* Could be more or less, depending on screen size */
}

.close-button {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close-button:hover,
.close-button:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}

/* Estilos adicionales para el formulario */
form label {
 display: block;
 margin-bottom: 5px;
 color: #777;
}

form input[type="text"],
form textarea {
 width: 100%;
 padding: 8px;
 margin-bottom: 10px;
 border: 1px solid #ddd;
 border-radius: 4px;
 box-sizing: border-box; /* Make sure padding doesn't affect width */
}

form button {
 background-color: #5cb85c;
 color: white;
 padding: 10px 15px;
 border: none;
 border-radius: 4px;
 cursor: pointer;
}

form button:hover {
 background-color: #449d44;
}